body {
    background-color: maroon;
}

.header {
    background-color: rgb(180, 0, 0);
    color: white;
    font-size: 30px;
    padding: 5%;
}

.header a {
    font-size: 0.75em;
    color: orange;
}

.gallery {
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(252, 150, 150);
    border-radius: 10px;
}

.gallery img {
    width: 20%;
    border: 2px solid darkgray;
    border-radius: 8px;
    margin: 2em;
}